
<header class="navbar" style="position: fixed; top: 0; left: 0; right: 0; background-color: white; z-index: 1000; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);" >
  <div class="logo">
    <h2>E-COMM</h2>
  </div>
  <nav class="nav-links">
    <a href="header">Home</a>
    <a href="men">Men</a>
    <a href="women">Women</a>
    <a href="beauty">Beauty</a>
    <a href="living">Home&Living</a>
  </nav>
  <div class="action-buttons">
    <app-cart-button (click)="navigateToCartbutton()" ></app-cart-button>
    <app-wishlist-button  (click)="navigateToWishlistbutton()"></app-wishlist-button>
  </div>
</header>
<app-product-list (addToCartEvent)="updateCartCount()"  (addToWishlistEvent)="updateWishlistCount()"> </app-product-list>

<pre>
  
</pre>

  


<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h3>Online Shopping</h3>
      <ul>
        <li><a href="#">Men</a></li>
        <li><a href="#">Women</a></li>
        <li><a href="#">Kids</a></li>
        <li><a href="#">Home & Living</a></li>
        <li><a href="#">Beauty</a></li>
        <li><a href="#">Gift Cards</a></li>
        <li><a href="#">Myntra Insider</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Customer Policies</h3>
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">T&C</a></li>
        <li><a href="#">Terms Of Use</a></li>
        <li><a href="#">Track Orders</a></li>
        <li><a href="#">Shipping</a></li>
        <li><a href="#">Cancellation</a></li>
        <li><a href="#">Returns</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Grievance Officer</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Useful Links</h3>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Site Map</a></li>
        <li><a href="#">Corporate Information</a></li>
        <li><a href="#">Whitehat</a></li>
        <li><a href="#">Cleartrip</a></li>
      </ul>
    </div>
  </div>
<pre>

</pre>
  <div class="footer-section keep-in-touch">
    <h3 align="center">Keep in Touch</h3>
    <div class="social-icons" align="center">
      <a href="#"><img src="../assets/facebook.jpg" alt="Facebook"> </a>
      <a href="#"><img src="../assets/twitter.png" alt="Twitter"></a>
      <a href="#"><img src="../assets/utube.png"alt="YouTube"></a>
      <a href="#"><img src="../assets/insta.jpg" alt="Instagram"></a>
    </div>
  </div>


</footer>

