<img src="../assets/2024.png" />


<h1 > GET WINTER READY</h1>
<h2> NOT-TO-MISS FINDS</h2>
<H3> 30-40% OFF</H3>
<div class="container mt-5">
  <div class="row">
    
    <div class="col-md-2">
      <div class="card">
        <img src="../assets/a3.jpg" class="card-top" alt="Product 1" style="height: 170px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title"> <strong>sweater</strong><br> 50-80% OFF<br> Shop Now</h5>
          <div class="button">
            <button (click)="addToWishlist()" >Wishlist</button>
            <button (click)="addToCart()" >Add to Cart</button>
          </div>
        </div>
      </div>
    </div>

 
    <div class="col-md-2">
      <div class="card">
        <img src="../assets/a4.jpg" class="card-top" alt="Product 2" style="height: 170px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title"><strong>purse</strong><br> 30-40% OFF<br> Shop Now </h5>
          <div class="button">
            <button (click)="addToWishlist()" >Wishlist</button>
            <button (click)="addToCart()" >Add to Cart</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card">
        <img src="../assets/a5.jpg" class="card-top" alt="Product 3" style="height: 170px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title"><strong>Winter hoodie </strong><br> 10-40% OFF<br> Shop Now</h5>
          <div class="button">
            <button (click)="addToWishlist()" >Wishlist</button>
            <button (click)="addToCart()" >Add to Cart</button>
          </div>
           </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card">
        <img src="../assets/k.jpg" class="card-top" alt="Product 3" style="height: 170px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title"><strong>Beautiful saree </strong><br> 50-80% OFF<br> Shop Now</h5>
          <div class="button">
            <button (click)="addToWishlist()" >Wishlist</button>
            <button (click)="addToCart()" >Add to Cart</button>
          </div>
           </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card">
        <img src="../assets/a1.jpg" class="card-top" alt="Product 2" style="height: 170px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title"><strong>boot</strong><br> 30-40% OFF<br> Shop Now </h5>
          <div class="button">
            <button (click)="addToWishlist()" >Wishlist</button>
            <button (click)="addToCart()" >Add to Cart</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card">
        <img src="../assets/a2.jpg" class="card-top" alt="Product 2" style="height: 170px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title"><strong>shoes</strong><br> 30-40% OFF<br> Shop Now </h5>
          <div class="button">
            <button (click)="addToWishlist()" >Wishlist</button>
            <button (click)="addToCart()" >Add to Cart</button>
          </div>
        </div>
      </div>
    </div>

   
  </div>
</div>

<pre>


</pre>
<h4>CATEGORY TO CART</h4>
<div class="container mt-5">
  <div class="row">
    
    <div class="col-md-2">
      <div class="card1">
        <img src="../assets/9.jpg" class="card-top" alt="Product 1" style="height: 250px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title"> <strong>Lantern Sleeve</strong><br> 50-80% OFF<br> Shop Now</h5>
          <div class="button">
            <button (click)="addToWishlist()" >Wishlist</button>
            <button (click)="addToCart()" >Add to Cart</button>
          </div>
           </div>
      </div>
    </div>

 
    <div class="col-md-2">
      <div class="card1">
        <img src="../assets/10.jpg" class="card-top" alt="Product 2" style="height: 250px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title"><strong>Gold jewellery</strong><br> 30-40% OFF<br> Shop Now</h5>
          <div class="button">
            <button (click)="addToWishlist()" >Wishlist</button>
            <button (click)="addToCart()" >Add to Cart</button>
          </div>
           </div>
      </div>
    </div>

   
    <div class="col-md-2">
      <div class="card1">
        <img src="../assets/4.jpg" class="card-top" alt="Product 3" style="height: 250px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title"><strong>Buy Nike </strong><br> 20-40% OFF<br> Shop Now</h5>
          <div class="button">
            <button (click)="addToWishlist()" >Wishlist</button>
            <button (click)="addToCart()" >Add to Cart</button>
          </div>
          </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card1">
        <img src="../assets/a0.jpg" class="card-top" alt="Product 3" style="height: 250px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title"><strong>Buy Nike </strong><br> 10-40% OFF<br> Shop Now</h5>
          <div class="button">
            <button (click)="addToWishlist()" >Wishlist</button>
            <button (click)="addToCart()" >Add to Cart</button>
          </div>
          </div>
          </div>
          </div>

    <div class="col-md-2">
            <div class="card1">
              <img src="../assets/a6.jpg" class="card-top" alt="Product 3" style="height: 250px; object-fit: cover;">
              <div class="card-body text-center">
                <h5 class="card-title"><strong>Buy Nike </strong><br> 10-40% OFF<br> Shop Now</h5>
                <div class="button">
                  <button (click)="addToWishlist()" >Wishlist</button>
                  <button (click)="addToCart()" >Add to Cart</button>
                </div>
                </div>
                </div>
                </div>

     <div class="col-md-2">
                  <div class="card1">
                    <img src="../assets/a8.jpg" class="card-top" alt="Product 3" style="height: 250px; object-fit: cover;">
                    <div class="card-body text-center">
                      <h5 class="card-title"><strong>Buy Nike </strong><br> 10-40% OFF<br> Shop Now</h5>
                      <div class="button">
                        <button (click)="addToWishlist()" >Wishlist</button>
                        <button (click)="addToCart()" >Add to Cart</button>
                      </div>
                      </div>
                      </div>
                      </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    
    <div class="col-md-4">
      <div class="card1">
        <img src="../assets/a9.jpg" class="card-top1" alt="Product 1" style="height: 380px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title1"> <strong>suit latest</strong><br> 50-80% OFF<br> Shop Now</h5>
          <div class="button">
            <button (click)="addToWishlist()" >Wishlist</button>
            <button (click)="addToCart()" >Add to Cart</button>
          </div>
           </div>
      </div>
    </div>

 
    <div class="col-md-4">
      <div class="card1">
        <img src="../assets/a4.jpg" class="card-top1" alt="Product 2" style="height: 380px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title1"><strong>prada purse</strong><br> 30-40% OFF<br> Shop Now</h5>
          <div class="button">
            <button (click)="addToWishlist()" >Wishlist</button>
            <button (click)="addToCart()" >Add to Cart</button>
          </div>
           </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card1">
        <img src="../assets/a11.jpg" class="card-top1" alt="Product 2" style="height: 380px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title1"><strong>womrn boot</strong><br> 30-40% OFF<br> Shop Now</h5>  
          <div class="button">
            <button (click)="addToWishlist()" >Wishlist</button>
            <button (click)="addToCart()" >Add to Cart</button>
          </div>
          </div>
      </div>
    </div>

<pre>

  
</pre>
    <h6>THANKS FOR VISITING OUR WEBSITE</h6>