<header class="navbar" style="position: fixed; top: 0; left: 0; right: 0; background-color: white; z-index: 1000; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);" >
  <div class="logo">
    <h2>E-COMM</h2>
  </div>
  <nav class="nav-links">
    <a href="header">Home</a>
    <a href="men">Men</a>
    <a href="women">Women</a>
    <a href="beauty">Beauty</a>
    <a href="living">Home&Living</a>
  </nav>

</header>




<div class="container mt-5">
    <div class="row">
      
      <div class="col-md-3">
        <div class="card">
          <img src="../assets/h10.jpg" class="card-top" alt="Product 1" style="height: 200px; object-fit: cover;">
          <div class="card-body text-center">
            <h5 class="card-title"> <strong>sweater</strong><br> 50-80% OFF<br> Shop Now</h5>
          </div>
        </div>
      </div>
  
   
      <div class="col-md-3">
        <div class="card">
          <img src="../assets/h9.jpg" class="card-top" alt="Product 2" style="height: 200px; object-fit: cover;">
          <div class="card-body text-center">
            <h5 class="card-title"><strong>purse</strong><br> 30-40% OFF<br> Shop Now </h5>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img src="../assets/h8.jpg" class="card-top" alt="Product 3" style="height: 200px; object-fit: cover;">
          <div class="card-body text-center">
            <h5 class="card-title"><strong>Winter hoodie </strong><br> 10-40% OFF<br> Shop Now</h5>
             </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card">
          <img src="../assets/h7.jpg" class="card-top" alt="Product 3" style="height: 200px; object-fit: cover;">
          <div class="card-body text-center">
            <h5 class="card-title"><strong>Beautiful saree </strong><br> 50-80% OFF<br> Shop Now</h5>
             </div>
        </div>
      </div>
  
  
  
     
    </div>
  </div>
  


  <div class="container mt-5">
    <div class="row">
      
      <div class="col-md-3">
        <div class="card">
          <img src="../assets/h6.jpg" class="card-top" alt="Product 1" style="height: 200px; object-fit: cover;">
          <div class="card-body text-center">
            <h5 class="card-title"> <strong>sweater</strong><br> 50-80% OFF<br> Shop Now</h5>
          </div>
        </div>
      </div>
  
   
      <div class="col-md-3">
        <div class="card">
          <img src="../assets/h5.jpg" class="card-top" alt="Product 2" style="height: 200px; object-fit: cover;">
          <div class="card-body text-center">
            <h5 class="card-title"><strong>purse</strong><br> 30-40% OFF<br> Shop Now </h5>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img src="../assets/h4.jpg" class="card-top" alt="Product 3" style="height: 200px; object-fit: cover;">
          <div class="card-body text-center">
            <h5 class="card-title"><strong>Winter hoodie </strong><br> 10-40% OFF<br> Shop Now</h5>
             </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card">
          <img src="../assets/h3.jpg" class="card-top" alt="Product 3" style="height: 200px; object-fit: cover;">
          <div class="card-body text-center">
            <h5 class="card-title"><strong>Beautiful saree </strong><br> 50-80% OFF<br> Shop Now</h5>
             </div>
        </div>
      </div>
  
  
  
     
    </div>
  </div>



  <div class="container sm-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img src="../assets/h2.jpg" class="card-top" alt="Product 2" style="height: 470px; object-fit: cover;">
          <div class="card-body text-center">
            <h5 class="card-title"><strong>purse</strong><br> 30-40% OFF<br> Shop Now </h5>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <img src="../assets/h1.jpg" class="card-top" alt="Product 3" style="height: 470px; object-fit: cover;">
          <div class="card-body text-center">
            <h5 class="card-title"><strong>Winter hoodie </strong><br> 10-40% OFF<br> Shop Now</h5>
             </div>
        </div>
      </div>
  
     
  
  
  
     
    </div>
  </div>