.navbar {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
  }
  
  .logo {
    margin-right: 25px; 
  }
  
  .logo h2 {
    font-size: 35px;
    margin: 0;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    gap: 20px; 
    margin-left: 80px;
  }
  
  .nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
    
  }
 